.button, .systemButton {
    width: 60px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    transition: background .1s ease;
}
.systemButton{
    width: 90px;
}

.Backspace{
    width: 106px;
}

.Delete{
    width: 105px;
}

.Tab{
    width: 151px;
    margin-left: 20px;
}

.CapsLock{
    width: 180px;
}

.Enter{
    width: 180px;
}

.ShiftLeft{
    width: 230px;
}

.ShiftRight{
    width: 140px;
}

.Space{
    width: 380px;
}

.active{
    background: #6389cf;
}

.button:hover, .systemButton:hover {
    background: #6389cf;
}