.button, .systemButton {
    width: 60px;
    height: 50px;
    outline: none;
}
.systemButton{
    width: 90px;
}

.Backspace{
    width: 106px;
}

.Delete{
    width: 105px;
}

.Tab{
    width: 151px;
    margin-left: 20px;
}

.CapsLock{
    width: 180px;
}

.Enter{
    width: 180px;
}

.ShiftLeft{
    width: 215px;
}

.Space{
    width: 460px;
}

.active{
    background: yellow;
}