.textarea{
    width: 48vw;
    height: 25vh;
    resize: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 34px -12px 71px -20px #535353;;
    border: 0;
    outline: none;
    padding: 10px;
}
