@import './components/wrapper.scss';
@import './components/textarea.scss';
@import './components/keyboard.scss';
@import './components/button.scss';
@import './components/taskDescription.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}